/*******************
  0. Normalize
********************/
@import "normalize";

/*******************
  1. Variables
********************/
@import "variables";

/*******************
  2. Typography
********************/
@import "typography/typography";

/*******************
  3. Layout
********************/
@import "layout/layout";

/*******************
  4. Navigation
********************/
@import "nav/main-menu";

.entry-info {
  text-align: center;
  letter-spacing: 0.5em;
  padding-bottom: 1em;

  .posted-on {
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 0.2em;
  }

  .byline {
    .byword {
      padding-right: 0.2em;
    }
    .byauthor {
      text-transform: uppercase;
    }
  }
}
